.container {
  display: flex;
  justify-content: center;
}

.box-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.box {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
